#firstText{
  text-align: center;
}
#newPar{
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -30px;
  background-color: #9a9a9a;
  border-radius: 5px;
  padding: 10px;

}

#checkBox{
  margin-left: -30px;
}
#div_1{
  margin-left: 20px;
  width: 60px;

}
#div_2{
  width: 10px;
  ;

}
#div_3{
  width: 250px;

}
#cross{

  width: 6%;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  line-height: 24px;
  height: 35px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0;
  text-align: center;
  width: 90px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-collapse: separate;
}
.board-row {
  clear: both;
  content: "";
  display: table;
}
.square:focus {
  outline: none;
}
.status {
  margin-bottom: 10px;
}

